In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('sales.csv')
df

   SaleID Region  Amount        Date
0       1  North     500  2024-01-01
1       2  South     300  2024-02-15
2       3  North     700  2024-03-10
3       4   West     400  2024-01-20
4       5  South    1000  2024-03-25

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SaleID  5 non-null      int64
 1   Region  5 non-null      object
 2   Amount  5 non-null      int64
 3   Date    5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [9]:
df.describe()

         SaleID       Amount
count  5.000000     5.000000
mean   3.000000   580.000000
std    1.581139   277.488739
min    1.000000   300.000000
25%    2.000000   400.000000
50%    3.000000   500.000000
75%    4.000000   700.000000
max    5.000000  1000.000000

In [13]:
df.value_counts()

SaleID  Region  Amount  Date
1       North   500     2024-01-01    1
2       South   300     2024-02-15    1
3       North   700     2024-03-10    1
4       West    400     2024-01-20    1
5       South   1000    2024-03-25    1
Name: count, dtype: int64

In [19]:
sum_sales_by_region = df.groupby('Region')['Amount'].sum()
sum_sales_by_region

Region
North    1200
South    1300
West      400
Name: Amount, dtype: int64

In [30]:
def categorize(amount):
    if amount <= 300:
        return 'Low'
    elif amount > 300 and amount < 700:
        return 'Medium'
    elif amount >= 700:
        return 'High'

df['Category'] = df['Amount'].apply(categorize)

In [31]:
df.head()

   SaleID Region  Amount        Date Category
0       1  North     500  2024-01-01   Medium
1       2  South     300  2024-02-15      Low
2       3  North     700  2024-03-10     High
3       4   West     400  2024-01-20   Medium
4       5  South    1000  2024-03-25     High

In [35]:
dates = [d for d in df['Date']]
dates

['2024-01-01', '2024-02-15', '2024-03-10', '2024-01-20', '2024-03-25']

In [37]:
from datetime import datetime
from datetime import timedelta

In [40]:
date_format = "%Y-%m-%d"
date1 = datetime.strptime(dates[-1], date_format)
date2 = datetime.strptime(dates[0], date_format)

In [41]:
diff_dates = date1 - date2
diff_dates

datetime.timedelta(days=84)

In [44]:
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 3, 31)

In [45]:
df['Date'] = pd.to_datetime(df['Date'], format="%Y-%m-%d")

In [46]:
q1 = df[(df['Date'] >= start_date ) & (df['Date'] <= end_date)]

In [47]:
print("Transakcje z 1 kwartalu: ")
print(q1)

Transakcje z 1 kwartalu:
   SaleID Region  Amount       Date Category
0       1  North     500 2024-01-01   Medium
1       2  South     300 2024-02-15      Low
2       3  North     700 2024-03-10     High
3       4   West     400 2024-01-20   Medium
4       5  South    1000 2024-03-25     High

In [48]:
# Parsowanie kolumny Date do formatu datetime
df['Date'] = pd.to_datetime(df['Date'], format="%Y-%m-%d")

# Znalezienie najwcześniejszej i najpóźniejszej daty
min_date = df['Date'].min()
max_date = df['Date'].max()

# Obliczenie różnicy między datami
diff_dates = max_date - min_date

print(f"Najwcześniejsza data: {min_date}")
print(f"Najpóźniejsza data: {max_date}")
print(f"Różnica w dniach: {diff_dates.days}")

Najwcześniejsza data: 2024-01-01 00:00:00
Najpóźniejsza data: 2024-03-25 00:00:00
Różnica w dniach: 84