In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("data\\train.csv")

In [ ]:

print(f"Kszta≈Çt danych: {df.shape}")
display(df.head())

üî¢ Kszta≈Çt danych: (0, 3)

Empty DataFrame
Columns: [dummy, data, 1]
Index: []

In [ ]:
print("Informacje o zbiorze danych:")
df.info()

‚ÑπÔ∏è Informacje o zbiorze danych:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dummy   0 non-null      object
 1   data    0 non-null      object
 2   1       0 non-null      object
dtypes: object(3)
memory usage: 132.0+ bytes

In [ ]:
print("Opis statystyczny danych numerycznych:")
display(df.describe())

üìä Opis statystyczny danych numerycznych:

       dummy data    1
count      0    0    0
unique     0    0    0
top      NaN  NaN  NaN
freq     NaN  NaN  NaN

In [ ]:
missing = df.isna().sum()
missing = missing[missing > 0].sort_values(ascending=False)
print("Kolumny z brakami danych:")
display(missing)

üß± Kolumny z brakami danych:

Series([], dtype: int64)

In [ ]:
cat_cols = df.select_dtypes(include=["object", "category"]).columns.tolist()
num_cols = df.select_dtypes(include=["number", "bool"]).columns.tolist()

print(f" Kolumny kategoryczne: {cat_cols}")
print(f" Kolumny numeryczne: {num_cols}")

In [ ]:
# Unikalne warto≈õci w zmiennych kategorycznych
for col in cat_cols:
    print(f"{col}: {df[col].nunique()} unikalnych warto≈õci")
    print(df[col].value_counts(dropna=False).head())
    print("")

In [ ]:
#Sprawdzenie duplikat√≥w
duplicates = df.duplicated().sum()
print(f" Liczba duplikat√≥w: {duplicates}")

In [ ]:
target_col = "target"  
if target_col in df.columns:
    print(f"Rozk≈Çad zmiennej docelowej: {target_col}")
    print(df[target_col].value_counts(normalize=True))
    sns.countplot(x=df[target_col])
    plt.title("Rozk≈Çad targetu")
    plt.show()

In [ ]:
# Boxploty dla wykrywania outliers
for col in num_cols:
    if df[col].nunique() > 10:  # tylko dla sensownych zmiennych ciƒÖg≈Çych
        plt.figure(figsize=(6, 1.5))
        sns.boxplot(data=df, x=col)
        plt.title(f"Outliers in {col}")
        plt.show()

In [ ]:
#korelacje numeryczne
corr = df[num_cols].corr()
plt.figure(figsize=(10, 6))
sns.heatmap(corr, annot=True, fmt=".2f", cmap="coolwarm", square=True)
plt.title(" Korelacje miƒôdzy cechami numerycznymi")
plt.show()