In [1]:
import numpy as np
import pandas as pd

In [ ]:

num_transactions = 50_000
num_customers = 5_000
num_products = 200

# Generowanie listy klientów
customers = pd.DataFrame({
    'customer_id': range(1, num_customers + 1),
    'age': np.random.randint(18, 70, num_customers),
    'gender': np.random.choice(['Male', 'Female'], num_customers, p=[0.45, 0.55]),
    'city': np.random.choice(['Warszawa', 'Kraków', 'Wrocław', 'Poznań', 'Gdańsk'], num_customers, p=[0.3, 0.2, 0.2, 0.15, 0.15])
})

# Generowanie listy produktów
categories = ['Napoje', 'Przekąski', 'Alkohol', 'Produkty świeże', 'Nabiał', 'Pieczywo', 'Słodycze', 'Mrożonki']
products = pd.DataFrame({
    'product_id': range(1, num_products + 1),
    'category': np.random.choice(categories, num_products),
    'product_name': [f'Produkt_{i}' for i in range(1, num_products + 1)],
    'price': np.round(np.random.uniform(1.5, 30, num_products), 2)
})

# Generowanie transakcji
transactions = pd.DataFrame({
    'transaction_id': range(1, num_transactions + 1),
    'customer_id': np.random.choice(customers['customer_id'], num_transactions),
    'product_id': np.random.choice(products['product_id'], num_transactions),
    'quantity': np.random.randint(1, 5, num_transactions),
    'purchase_date': pd.to_datetime(np.random.choice(pd.date_range('2024-01-01', '2024-12-31'), num_transactions))
})


merged_df = transactions.merge(customers, on='customer_id').merge(products, on='product_id')

merged_df.head()

,transaction_id,customer_id,product_id,quantity,purchase_date,age,gender,city,category,product_name,price
0,1,4959,55,2,2024-06-15,45,Female,Gdańsk,Produkty świeże,Produkt_55,3.35
1,2,4184,199,4,2024-05-01,69,Male,Wrocław,Alkohol,Produkt_199,4.52
2,3,3976,24,2,2024-06-01,61,Female,Warszawa,Słodycze,Produkt_24,13.06
3,4,180,129,2,2024-05-23,31,Female,Poznań,Alkohol,Produkt_129,13.69
4,5,1938,6,2,2024-05-01,19,Female,Gdańsk,Pieczywo,Produkt_6,2.52

In [4]:
merged_df.shape

(50000, 11)

In [5]:
merged_df.columns

Index(['transaction_id', 'customer_id', 'product_id', 'quantity',
       'purchase_date', 'age', 'gender', 'city', 'category', 'product_name',
       'price'],
      dtype='object')

In [6]:
merged_df.describe()

,transaction_id,customer_id,product_id,quantity,purchase_date,age,price
count,50000.000000,50000.00000,50000.000000,50000.000000,50000,50000.000000,50000.000000
mean,25000.500000,2495.78554,100.583080,2.499480,2024-07-01 16:24:02.304000,42.906860,15.671773
min,1.000000,1.00000,1.000000,1.000000,2024-01-01 00:00:00,18.000000,1.510000
25%,12500.750000,1247.00000,52.000000,1.000000,2024-04-02 00:00:00,30.000000,8.680000
50%,25000.500000,2490.00000,100.000000,2.000000,2024-07-02 00:00:00,43.000000,16.010000
75%,37500.250000,3735.00000,151.000000,4.000000,2024-09-30 00:00:00,56.000000,23.340000
max,50000.000000,5000.00000,200.000000,4.000000,2024-12-31 00:00:00,69.000000,29.870000
std,14433.901067,1438.73501,57.516277,1.118742,NaN,15.046833,8.410439