In [32]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
df = pd.read_csv("datasets\\Generated_Car_Dataset.csv")

In [33]:
df.sample(10)

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,mpg
1483,3,232.8,140.3,2456.9,20.8,2018,Japan,Toyota Model B,14.20
2331,4,145.9,151.3,2064.3,13.9,2011,Japan,Honda Model B,12.15
506,8,224.0,104.7,3115.5,17.9,1975,Japan,Mazda Model E,16.37
2340,6,246.0,107.7,3595.0,11.2,2006,USA,Ford Model B,12.39
1668,4,233.0,111.9,2497.7,14.8,2017,Europe,BMW Model D,14.58
4697,5,169.2,124.3,4356.2,11.9,1994,USA,Dodge Model D,11.75
2367,6,201.4,74.8,2045.6,12.6,1974,Japan,Toyota Model B,20.33
2129,4,124.6,55.2,2028.2,21.1,1975,USA,Chevrolet Model E,35.62
4642,8,186.7,148.8,3934.1,16.7,1974,Japan,Mazda Model D,11.82
1035,6,205.8,84.0,3255.8,12.4,2011,USA,Chevrolet Model B,16.66

In [34]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
auto_mpg = fetch_ucirepo(id=9) 
  
# data (as pandas dataframes) 
X = auto_mpg.data.features 
y = auto_mpg.data.targets 
  
# metadata 
print(auto_mpg.metadata) 
  
# variable information 
print(auto_mpg.variables)

{'uci_id': 9, 'name': 'Auto MPG', 'repository_url': 'https://archive.ics.uci.edu/dataset/9/auto+mpg', 'data_url': 'https://archive.ics.uci.edu/static/public/9/data.csv', 'abstract': 'Revised from CMU StatLib library, data concerns city-cycle fuel consumption', 'area': 'Other', 'tasks': ['Regression'], 'characteristics': ['Multivariate'], 'num_instances': 398, 'num_features': 7, 'feature_types': ['Real', 'Categorical', 'Integer'], 'demographics': [], 'target_col': ['mpg'], 'index_col': ['car_name'], 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1993, 'last_updated': 'Thu Aug 10 2023', 'dataset_doi': '10.24432/C5859H', 'creators': ['R. Quinlan'], 'intro_paper': None, 'additional_info': {'summary': 'This dataset is a slightly modified version of the dataset provided in the StatLib library.  In line with the use by Ross Quinlan (1993) in predicting the attribute "mpg", 8 of the original instances were removed because they had unknown values for the "mpg" attribute.  The original dataset is available in the file "auto-mpg.data-original".\r\n\r\n"The data concerns city-cycle fuel consumption in miles per gallon, to be predicted in terms of 3 multivalued discrete and 5 continuous attributes." (Quinlan, 1993)', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '    1. mpg:           continuous\r\n    2. cylinders:     multi-valued discrete\r\n    3. displacement:  continuous\r\n    4. horsepower:    continuous\r\n    5. weight:        continuous\r\n    6. acceleration:  continuous\r\n    7. model year:    multi-valued discrete\r\n    8. origin:        multi-valued discrete\r\n    9. car name:      string (unique for each instance)', 'citation': None}}
           name     role         type demographic description units  \
0  displacement  Feature   Continuous        None        None  None
1           mpg   Target   Continuous        None        None  None
2     cylinders  Feature      Integer        None        None  None
3    horsepower  Feature   Continuous        None        None  None
4        weight  Feature   Continuous        None        None  None
5  acceleration  Feature   Continuous        None        None  None
6    model_year  Feature      Integer        None        None  None
7        origin  Feature      Integer        None        None  None
8      car_name       ID  Categorical        None        None  None

  missing_values
0             no
1             no
2             no
3            yes
4             no
5             no
6             no
7             no
8             no

In [35]:
df = pd.concat([X,y], axis=1)

df.head()

,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
0,307.0,8,130.0,3504,12.0,70,1,18.0
1,350.0,8,165.0,3693,11.5,70,1,15.0
2,318.0,8,150.0,3436,11.0,70,1,18.0
3,304.0,8,150.0,3433,12.0,70,1,16.0
4,302.0,8,140.0,3449,10.5,70,1,17.0

In [36]:
print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   displacement  398 non-null    float64
 1   cylinders     398 non-null    int64
 2   horsepower    392 non-null    float64
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
 5   model_year    398 non-null    int64
 6   origin        398 non-null    int64
 7   mpg           398 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 25.0 KB
None
       displacement   cylinders  horsepower       weight  acceleration  \
count    398.000000  398.000000  392.000000   398.000000    398.000000
mean     193.425879    5.454774  104.469388  2970.424623     15.568090
std      104.269838    1.701004   38.491160   846.841774      2.757689
min       68.000000    3.000000   46.000000  1613.000000      8.000000
25%      104.250000    4.000000   75.000000  2223.750000     13.825000
50%      148.500000    4.000000   93.500000  2803.500000     15.500000
75%      262.000000    8.000000  126.000000  3608.000000     17.175000
max      455.000000    8.000000  230.000000  5140.000000     24.800000

       model_year      origin         mpg
count  398.000000  398.000000  398.000000
mean    76.010050    1.572864   23.514573
std      3.697627    0.802055    7.815984
min     70.000000    1.000000    9.000000
25%     73.000000    1.000000   17.500000
50%     76.000000    1.000000   23.000000
75%     79.000000    2.000000   29.000000
max     82.000000    3.000000   46.600000
displacement    0
cylinders       0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
mpg             0
dtype: int64

In [37]:
df.isna().sum()

displacement    0
cylinders       0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
mpg             0
dtype: int64

In [38]:
df.horsepower.describe()

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: horsepower, dtype: float64

In [39]:
hp_mean = df["horsepower"].mean()

df["horsepower"] = df["horsepower"].fillna(hp_mean)
df.isna().sum()

displacement    0
cylinders       0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
mpg             0
dtype: int64

In [40]:
df.columns

Index(['displacement', 'cylinders', 'horsepower', 'weight', 'acceleration',
       'model_year', 'origin', 'mpg'],
      dtype='object')

In [41]:
features = ['displacement', 'cylinders', 'horsepower', 'weight', 'acceleration',
       'model_year', 'origin']
target = ["mpg"]

In [42]:
X = df[features]
y = df["mpg"]

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [45]:
y_pred = model.predict(X_test)
y_pred[:5]

array([32.86345735, 29.58130242, 21.35126058, 16.80568721, 12.50136229])

In [46]:
y_test[:5]

198    33.0
396    28.0
33     19.0
208    13.0
93     14.0
Name: mpg, dtype: float64

In [49]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred=y_pred)
mse

8.19545210407372

In [51]:
r2_score(y_test, y_pred)

0.8475731044779446

In [52]:
model.score(X_test, y_test)

0.8475731044779446