In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("datasets\\home_prices.csv")
df.head()

   area_sqr_ft  bedrooms color  price_lakhs
0         3774         2   Red          216
1         1460         3  Gray           88
2         1894         4  Gray          147
3         1730         2  Blue           84
4         1695         1  Blue           77

In [8]:
df["color"].unique()

array(['Red', 'Gray', 'Blue', 'Yellow', 'Green', 'White'], dtype=object)

In [9]:
df_encoded = pd.get_dummies(df, columns=["color"], drop_first=True)

In [10]:
cm = df_encoded.corr()
cm

,area_sqr_ft,bedrooms,price_lakhs,color_Gray,color_Green,color_Red,color_White,color_Yellow
area_sqr_ft,1.000000,0.185810,0.945365,-0.068944,-0.032012,0.059055,0.063827,-0.037819
bedrooms,0.185810,1.000000,0.439445,0.040882,-0.120207,-0.004177,-0.023676,0.015286
price_lakhs,0.945365,0.439445,1.000000,-0.040565,-0.041959,0.045803,0.051122,-0.046673
color_Gray,-0.068944,0.040882,-0.040565,1.000000,-0.214409,-0.230990,-0.205931,-0.217205
color_Green,-0.032012,-0.120207,-0.041959,-0.214409,1.000000,-0.190117,-0.169493,-0.178771
color_Red,0.059055,-0.004177,0.045803,-0.230990,-0.190117,1.000000,-0.182600,-0.192596
color_White,0.063827,-0.023676,0.051122,-0.205931,-0.169493,-0.182600,1.000000,-0.171703
color_Yellow,-0.037819,0.015286,-0.046673,-0.217205,-0.178771,-0.192596,-0.171703,1.000000

In [13]:
cm_price = abs(cm["price_lakhs"].sort_values(ascending=False))
cm_price

price_lakhs     1.000000
area_sqr_ft     0.945365
bedrooms        0.439445
color_White     0.051122
color_Red       0.045803
color_Gray      0.040565
color_Green     0.041959
color_Yellow    0.046673
Name: price_lakhs, dtype: float64

In [18]:
selected_features = cm_price[cm_price > 0.2].index.drop("price_lakhs")

In [19]:
X = df[selected_features]
y = df["price_lakhs"]

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
model = LinearRegression()

print("cross val scores: ", cross_val_score(model, X,y, cv=5))

cross val scores:  [0.9588887  0.95701878 0.96410802 0.97048877 0.97314069]