In [9]:
file = "zadanie.txt"
with open(file) as f:
    content = f.read()
    print(content)

with open(file, 'a')as f:
    f.write('Nastepna linijka')

Linijka 1
Linijka 2
Nastepna linijka

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv('dane.csv')
print(data)

      Name  Age           City
0    Alice   30       New York
1      Bob   25  San Francisco
2  Charlie   35        Chicago

In [17]:
new_person = ['Hubert', 30, 'Bydgoszcz']
data.loc[len(data)] = new_person
print(data)

      Name  Age           City
0    Alice   30       New York
1      Bob   25  San Francisco
2  Charlie   35        Chicago
3   Hubert   30      Bydgoszcz

In [19]:
new_person = {'Name': 'Hubert', 'Age': 33330, 'City': 'Bydgoszcz'}
data = pd.concat([data, pd.DataFrame([new_person])], ignore_index=True)
print(data)

      Name    Age           City
0    Alice     30       New York
1      Bob     25  San Francisco
2  Charlie     35        Chicago
3   Hubert     30      Bydgoszcz
4   Hubert  33330      Bydgoszcz