In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:

Countries = ["PL", "GER", "UK", "USA", "CZ", "IT"]
Product_Category = ["Electronics", "Clothing", "Food"]
data = {
    "Customer_ID" : np.arange(100000),
    "Country" : np.random.choice(Countries, 100000),
    "Product_Category" : np.random.choice(Product_Category, 100000),
    "Total_Spend" : np.random.randint(low=50, high=25000, size=(100000)),
    "Month": np.random.randint(1,13, 100000),
    "Age": np.random.randint(low=18, high=80, size=(100000)),
}
df = pd.DataFrame(data)
#data validation by increasing amount spent based on country's wealth
spend_distribution = {
    "USA": (500, 25000),
    "GER": (400, 20000),
    "UK": (300, 15000),
    "PL": (100, 8000),
    "CZ": (50, 6000),
    "IT": (200, 12000)
}
df["Total_Spend"] = df["Country"].apply(lambda x: np.random.randint(*spend_distribution[x]))
df['Customer_ID'] = df['Country'] + (df.groupby('Country').cumcount() + 1).astype(str).str.zfill(3)
df.head()

  Customer_ID Country Product_Category  Total_Spend  Month  Age
0       UK001      UK             Food         3147      1   29
1       UK002      UK      Electronics         5611     10   77
2       IT001      IT             Food        11381      7   63
3       CZ001      CZ             Food         5344      3   62
4       PL001      PL      Electronics          760     10   32

In [6]:
def get_segment(amount):
    if amount < 2000:
        return "Low Spender"
    elif amount >= 2000 and amount <= 10000:
        return "Medium Spender"
    else:
        return "High Spender"

df["Segment"] = df["Total_Spend"].apply(get_segment)
df.head(1)

,Customer_ID,Country,Product_Category,Total_Spend,Month,Age,Segment
0,UK001,UK,Food,3147,1,29,Medium Spender

In [9]:
#Która grupa klientów (Segment) generuje największy przychód?

spenders_revenue = df.groupby("Segment")["Total_Spend"].sum().sort_values(ascending=False)
print(f"Top spender's segment: {spenders_revenue.idxmax()} with revenue of {spenders_revenue.max()}")

Top spender's segment: High Spender with revenue of 408000665

In [ ]:
#Jaka jest średnia wartość zamówienia (Total_Spend) w poszczególnych krajach?