In [1]:
import pandas as pd
from scipy import stats
import numpy as np

In [3]:
df_control = pd.read_csv("..\\datasets\\control_group.csv")
df_test = pd.read_csv("..\\datasets\\test_group.csv")

In [4]:
df_control.head()

  person_id  recovery_time_hrs
0      C001                4.4
1      C002                4.1
2      C003                3.2
3      C004                4.3
4      C005                4.9

In [5]:
df_test.head()

  person_id  recovery_time_hrs
0      T001                3.7
1      T002                4.1
2      T003                3.7
3      T004                3.9
4      T005                3.7

In [6]:
control_mean = df_control["recovery_time_hrs"].mean()
control_std = df_control["recovery_time_hrs"].std()
control_size = df_control.shape[0]

print(control_mean, control_size, control_std)

4.000769230769231 130 0.4795825306420972

In [7]:
test_mean = df_test["recovery_time_hrs"].mean()
test_std = df_test["recovery_time_hrs"].std()
test_size = df_test.shape[0]

print(test_mean, test_size, test_std)

3.9119999999999995 100 0.31567788210852726

In [8]:
a = control_std**2/control_size
b = test_std**2/test_size

In [9]:
z_score = (control_mean - test_mean) / np.sqrt(a+b)
z_score

1.6879356404646

In [10]:
alpha = 0.05
critical_z_value = stats.norm.ppf(1 - alpha)
critical_z_value

1.6448536269514722

In [11]:
z_score > critical_z_value

True

In [12]:
p_value = 1 - stats.norm.cdf(z_score)
p_value

0.0457117920646507

In [13]:
p_value < alpha

True

In [14]:
from scipy.stats import ttest_ind

t_stat, p_value = ttest_ind(df_control["recovery_time_hrs"],
                            df_test["recovery_time_hrs"],
                            equal_var=False)  # Welch's t-test

print(f"T-stat: {t_stat:.3f}, P-value: {p_value:.5f}")
print("Reject H0" if p_value < 0.05 else "Fail to reject H0")

T-stat: 1.688, P-value: 0.09282
Fail to reject H0