In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("..\\datasets\\exam_scores.csv")
df

       name  score
0     Rishi     78
1     Arjun     71
2   Lakshmi     68
3     Aditi     81
4     Aisha     85
5     Ethan     84
6      Isha     67
7     Meera     72
8     Priya     78
9     Chloe     85
10   Ananya     70
11   Sanjay     73
12   Sophia     64
13    Vivek     63
14     Anil     83
15     Neha     89
16    Rohan     74
17   Robert     85
18    Emily     79
19   Simran     69

In [6]:
population_mean = 72

In [3]:
sample_mean = df["score"].mean()
sample_std = df["score"].std()
sample_size = df.shape[0]
sample_mean, sample_size, sample_std

(75.9, 20, 7.826406044855286)

In [5]:
sample_standard_error = sample_std / (np.sqrt(sample_size))
sample_standard_error

1.7500375935811687

In [7]:
t_stats = (sample_mean - population_mean) / sample_standard_error
t_stats

2.2285235553250526

In [8]:
t_critical = 1.729

In [9]:
from scipy import stats

In [10]:
t_stat_one_sample , p_value_one_sample = stats.ttest_1samp(df["score"], population_mean, alternative="greater")
t_stat_one_sample, p_value_one_sample

(2.228523555325052, 0.019059543933267798)

In [11]:
p_value_one_sample < 0.05

True

In [13]:

# Tworzymy tabelÄ™ kontyngencji
data = [[40, 20],
        [20, 40]]

# Test chi-kwadrat
chi2, p, dof, expected = stats.chi2_contingency(data)

print(f"Chi2: {chi2}")
print(f"p-value: {p}")
print(f"Degrees of freedom: {dof}")
print("Expected table:")
print(expected)

Chi2: 12.033333333333333
p-value: 0.0005225753951242464
Degrees of freedom: 1
Expected table:
[[30. 30.]
 [30. 30.]]

In [14]:
expected = np.array([40,60,30,70])
sales = np.array([45,55,35,65])

In [16]:
chi_stat, p_value = stats.chisquare(sales, expected)
chi_stat, p_value

(2.232142857142857, 0.5256450109609307)

In [17]:
p_value < 0.05

False

In [18]:
data = [[50, 20],
        [30, 50]]

chi2, p, dof, expected = stats.chi2_contingency(data)

print(f"Chi2: {chi2}")
print(f"p-value: {p}")
print(f"Degrees of freedom: {dof}")
print("Expected table:")
print(expected)

Chi2: 15.930923150510196
p-value: 6.569655956344659e-05
Degrees of freedom: 1
Expected table:
[[37.33333333 32.66666667]
 [42.66666667 37.33333333]]

In [19]:
p < 0.05

True

In [20]:
stats.chi2_contingency(data)

Chi2ContingencyResult(statistic=15.930923150510196, pvalue=6.569655956344659e-05, dof=1, expected_freq=array([[37.33333333, 32.66666667],
       [42.66666667, 37.33333333]]))