In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

data_stack = {
    "Country": ["USA", "USA", "Germany", "Germany", "Japan", "Japan"],
    "Year": [2020, 2021, 2020, 2021, 2020, 2021],
    "Population": [331, 332, 83, 84, 126, 125],
    "GDP": [21137, 22940, 3845, 4223, 5065, 5315]
}
df = pd.DataFrame(data_stack)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     6 non-null      object
 1   Year        6 non-null      int64
 2   Population  6 non-null      int64
 3   GDP         6 non-null      int64
dtypes: int64(3), object(1)
memory usage: 324.0+ bytes

In [4]:
df.describe()

              Year  Population           GDP
count     6.000000    6.000000      6.000000
mean   2020.500000  180.166667  10420.833333
std       0.547723  118.718856   9032.994729
min    2020.000000   83.000000   3845.000000
25%    2020.000000   94.250000   4433.500000
50%    2020.500000  125.500000   5190.000000
75%    2021.000000  279.750000  17181.500000
max    2021.000000  332.000000  22940.000000

In [9]:
unique_countries = df.nunique()["Country"]
print(f"Liczba unikalnych krajów: {unique_countries}")

Liczba unikalnych krajów: 3

In [ ]:
avg_pop_country = df.groupby("Country")["Population"].mean()


for country, pop in avg_pop_country.items():
    print(f"Country: {country}, avg population: {pop}")

Country: Germany, avg population: 83.5
Country: Japan, avg population: 125.5
Country: USA, avg population: 331.5

In [17]:
df.isna()

   Country   Year  Population    GDP
0    False  False       False  False
1    False  False       False  False
2    False  False       False  False
3    False  False       False  False
4    False  False       False  False
5    False  False       False  False

In [20]:
df["GDP per capita"] = round(df["GDP"] / df["Population"],2)
df.head(2)

  Country  Year  Population    GDP  GDP per capita
0     USA  2020         331  21137           63.86
1     USA  2021         332  22940           69.10

In [21]:
df.groupby(["Country", "Year"])["GDP per capita"].max()

Country  Year
Germany  2020    46.33
         2021    50.27
Japan    2020    40.20
         2021    42.52
USA      2020    63.86
         2021    69.10
Name: GDP per capita, dtype: float64

In [25]:
def get_score(gdp):
    if gdp > 50000:
        return "High"
    elif gdp > 10000 and gdp <= 50000:
        return "Mid"
    else:
        return "Low"

df["GDP Category"] = df["GDP"].apply(get_score)
df.head(2)

  Country  Year  Population    GDP  GDP per capita GDP Category
0     USA  2020         331  21137           63.86          Mid
1     USA  2021         332  22940           69.10          Mid