In [7]:
import pandas as pd
file = "Dataset_WorldPortIndex.csv"
df = pd.read_csv(file)
df.head(1)

,Unnamed: 0,World Port Index Number,Region Name,Main Port Name,Country Code,World Water Body,Sailing Direction or Publication,Tidal Range (m),Channel Depth (m),Anchorage Depth (m),...,Cranes - Mobile,Lifts - 0-24 Tons,Services - Longshoremen,Supplies - Provisions,Supplies - Potable Water,Supplies - Fuel Oil,Supplies - Diesel Oil,Repairs,Latitude,Longitude
0,0,7950.0,United States E Coast -- 6585,Maurer,United States,North Atlantic Ocean,U.S. Coast Pilot 2 - Atlantic Coast: Cape Cod ...,1.5,11.0,11.0,...,Unknown,Unknown,Unknown,Yes,Yes,Yes,Yes,Moderate,40.533333,-74.25

In [9]:
#Oblicz średnią wartość głębokości kanału (Channel Depth (m)) dla każdego kraju.
avg_channel_depth = df.groupby("Country Code")['Channel Depth (m)'].mean()
avg_channel_depth

Country Code
                      0.000000
Albania               6.400000
Algeria              10.752941
American Samoa       23.200000
Angola               14.419048
                       ...
Vietnam               8.175000
Wake Island          23.200000
Wallis and Futuna     6.400000
Western Sahara        6.250000
Yemen                 5.140000
Name: Channel Depth (m), Length: 196, dtype: float64

In [28]:
#Policz liczbę portów w każdym kraju.
sum_of_ports = df.groupby(["Country Code"])["Main Port Name"].count()
lista_portow = sum_of_ports.to_dict()
for index, value in lista_portow.items():
    print(f"{index}: {value}")

 : 4
Albania: 3
Algeria: 17
American Samoa: 1
Angola: 21
Antarctica: 8
Antigua and Barbuda: 1
Argentina: 37
Aruba: 2
Australia: 66
Bahrain: 4
Bangladesh: 2
Barbados: 1
Belgium: 7
Belize: 2
Benin: 1
Bermuda: 4
Bosnia and Herzegovina: 1
Brazil: 45
British Indian Ocean Territory: 1
British Virgin Islands: 1
Brunei: 5
Bulgaria: 2
Burma: 7
Cabo Verde: 2
Cambodia: 2
Cameroon: 7
Canada: 304
Caribbean Netherlands: 4
Cayman Islands: 2
Chile: 39
China: 68
Christmas Island: 1
Colombia: 14
Comoros: 4
Congo (Brazzaville): 5
Congo (Kinshasa): 3
Cook Islands: 1
Costa Rica: 6
Cote D'Ivoire: 5
Croatia: 16
Cuba: 34
Curacao: 4
Cyprus: 6
Denmark: 69
Djibouti: 2
Dominica: 2
Dominican Republic: 17
Ecuador: 6
Egypt: 30
El Salvador: 3
Equatorial Guinea: 7
Eritrea: 2
Estonia: 20
Falkland Islands (Islas Malvinas): 1
Faroe Islands: 9
Federated States of Micronesia: 4
Fiji: 5
Finland: 37
France: 65
French Guiana: 1
French Polynesia: 6
Gabon: 9
Georgia: 4
Germany: 35
Ghana: 4
Gibraltar: 1
Greece: 64
Greenland: 22
Grenada: 1
Guadeloupe: 4
Guam: 1
Guatemala: 3
Guernsey: 3
Guinea: 4
Guinea-Bissau: 2
Guyana: 3
Haiti: 5
Honduras: 8
Hong Kong: 1
Iceland: 38
India: 56
Indonesia: 123
Iran: 18
Iraq: 6
Ireland: 21
Isle of Man: 2
Israel: 5
Italy: 123
Jamaica: 11
Japan: 163
Jersey: 1
Johnson Atoll: 1
Jordan: 1
Kenya: 4
Kiribati: 3
Kuwait: 6
Latvia: 5
Lebanon: 4
Liberia: 4
Libya: 14
Lithuania: 2
Macau: 1
Madagascar: 13
Malaysia: 35
Maldives: 1
Malta: 2
Marshall Islands: 3
Martinique: 1
Mauritania: 2
Mauritius: 2
Mexico: 35
Midway Islands: 1
Monaco: 1
Montenegro: 4
Morocco: 12
Mozambique: 11
Namibia: 2
Nauru: 1
Netherlands: 18
New Caledonia: 3
New Zealand: 22
Nicaragua: 5
Nigeria: 28
Niue: 1
Norfolk Island: 1
North Korea: 10
Northern Mariana Islands: 3
Norway: 137
Oman: 7
Pakistan: 3
Palau: 1
Panama: 12
Papua New Guinea: 22
Paraguay: 1
Peru: 20
Philippines: 70
Poland: 10
Portugal: 18
Puerto Rico: 14
Qatar: 6
Reunion: 4
Romania: 11
Russia: 67
Saint Helena, Ascension, and Tristan da Cunha: 4
Saint Kitts and Nevis: 2
Saint Lucia: 3
Saint Pierre and Miquelon: 2
Saint Vincent and the Grenadines (Windward Islands): 1
Samoa: 1
Sao Tome and Principe: 2
Saudi Arabia: 16
Senegal: 6
Seychelles: 1
Sierra Leone: 3
Singapore: 5
Sint Maarten: 2
Slovenia: 2
Solomon Islands: 6
Somalia: 6
South Africa: 8
South Georgia and South Sandwich Islands: 3
South Korea: 16
Spain: 52
Sri Lanka: 6
Sudan: 4
Suriname: 4
Svalbard: 3
Sweden: 92
Syria: 3
Taiwan: 8
Tanzania: 8
Thailand: 21
The Bahamas: 6
The Gambia: 1
Timor-Leste: 1
Togo: 2
Tonga: 3
Trinidad and Tobago: 10
Tunisia: 16
Turkey: 54
Turks and Caicos Islands: 3
Tuvalu: 1
U.S. Virgin Islands: 6
Ukraine: 26
United Arab Emirates: 20
United Kingdom: 185
United States: 666
Uruguay: 8
Vanuatu: 3
Venezuela: 31
Vietnam: 16
Wake Island: 1
Wallis and Futuna: 1
Western Sahara: 2
Yemen: 10

In [37]:
#Policz liczbę portów w każdej kategorii (Small, Medium, Large).
ab = df['Harbor Size'].value_counts()
for index, value in ab.items():
    print(f"port size: {index}, count:{value}")

port size: Very Small, count:2135
port size: Small, count:1030
port size: Medium, count:366
port size: Large, count:171
port size:  , count:122

In [39]:
#Oblicz średnią głębokość kotwicowiska (Anchorage Depth (m)) dla każdej kategorii.
df.groupby("Harbor Size")["Anchorage Depth (m)"].mean()

Harbor Size
               4.360656
Large         14.052047
Medium        13.667213
Small         11.833010
Very Small    11.333349
Name: Anchorage Depth (m), dtype: float64

In [61]:
#Utwórz grupę portów według Country Code i oblicz:
#Łączną wartość głębokości kanału (Channel Depth (m)).


df.groupby("Country Code")["Channel Depth (m)"].sum()

Country Code
                       0.0
Albania               19.2
Algeria              182.8
American Samoa        23.2
Angola               302.8
                     ...
Vietnam              130.8
Wake Island           23.2
Wallis and Futuna      6.4
Western Sahara        12.5
Yemen                 51.4
Name: Channel Depth (m), Length: 196, dtype: float64

In [41]:
#Maksymalną wartość głębokości ropy naftowej (Oil Terminal Depth (m)).
df.groupby("Country Code")["Oil Terminal Depth (m)"].max()

Country Code
                      0.0
Albania              11.0
Algeria              14.0
American Samoa       11.0
Angola               23.2
                     ...
Vietnam              23.2
Wake Island          12.5
Wallis and Futuna     0.0
Western Sahara        0.0
Yemen                45.0
Name: Oil Terminal Depth (m), Length: 196, dtype: float64

In [55]:
#Dodaj nową kolumnę, która wskaże udział portów danego kraju w całkowitej liczbie portów w zbiorze.
sum_of_ports = df.groupby(["Country Code"])["Main Port Name"].count()
all_ports = sum_of_ports.sum()
pct_ports_overall = round(sum_of_ports / all_ports * 100,2)
pct_ports_overall = pct_ports_overall.reset_index()
pct_ports_overall = pct_ports_overall.rename(columns={"Main Port Name": "Port Share"})
df = df.merge(pct_ports_overall, on="Country Code", how='left')
df.head(1)

,Unnamed: 0,World Port Index Number,Region Name,Main Port Name,Country Code,World Water Body,Sailing Direction or Publication,Tidal Range (m),Channel Depth (m),Anchorage Depth (m),...,Services - Longshoremen,Supplies - Provisions,Supplies - Potable Water,Supplies - Fuel Oil,Supplies - Diesel Oil,Repairs,Latitude,Longitude,Port Share_x,Port Share_y
0,0,7950.0,United States E Coast -- 6585,Maurer,United States,North Atlantic Ocean,U.S. Coast Pilot 2 - Atlantic Coast: Cape Cod ...,1.5,11.0,11.0,...,Unknown,Yes,Yes,Yes,Yes,Moderate,40.533333,-74.25,17.42,17.42

In [56]:
# Utwórz grupy na podstawie Country Code i Harbor Size, a następnie:
# Oblicz średnią wartość głębokości kanału (Channel Depth (m)) dla każdej grupy.


df.groupby(["Country Code", "Harbor Size"])["Channel Depth (m)"].mean()

Country Code    Harbor Size
                                0.00
Albania         Small           7.90
                Very Small      5.65
Algeria         Large          20.90
                Medium         12.50
                               ...
Western Sahara  Very Small      6.25
Yemen           Large           0.00
                Medium         11.30
                Small           9.70
                Very Small      1.88
Name: Channel Depth (m), Length: 479, dtype: float64

In [59]:
# Policz liczbę portów w każdej grupie.
df.groupby(["Country Code", "Harbor Size"])["Main Port Name"].count()

Country Code    Harbor Size
                               4
Albania         Small          1
                Very Small     2
Algeria         Large          2
                Medium         1
                              ..
Western Sahara  Very Small     2
Yemen           Large          1
                Medium         2
                Small          2
                Very Small     5
Name: Main Port Name, Length: 479, dtype: int64

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"employee_id" : [3,90,9], "name" : ['bob', 'jan', 'kasia'], "department" : ['b', 'c', 'd']})
df

   employee_id   name department
0            3    bob          b
1           90    jan          c
2            9  kasia          d

In [4]:
a = df[:3]
type(a)

pandas.core.frame.DataFrame