In [2]:
import pandas as pd
import numpy as np

### quick tasks for muscle refreshment after baby-born break

In [3]:
temperatures = [23.5, 24.1, 22.8, 21.9, 23.3, 24.0, 22.4]

In [4]:
temp_mean, temp_std = np.mean(temperatures), np.std(temperatures)
temp_mean, temp_std

(23.142857142857146, 0.757547061917878)

In [5]:
df = pd.DataFrame({"product": ['A','B','C', 'A', 'B', 'C'], "sales" : [100,150,200,120,130,160], "region": ["East", "West", "East", "West", "East", "West"]})

In [6]:
df.head(1)

  product  sales region
0       A    100   East

In [9]:
sum_per_prod = df.groupby("product")["sales"].sum()
avg_per_region = df.groupby("region")["sales"].mean()

In [10]:
sum_per_prod

product
A    220
B    280
C    360
Name: sales, dtype: int64

In [11]:
avg_per_region

region
East    143.333333
West    143.333333
Name: sales, dtype: float64

In [13]:
dates = pd.date_range(start='2024-01-01', periods=6, freq='ME')
sales = [1000, 1100, 900, 1200, 1050, 1150]
df = pd.DataFrame({'date': dates, 'sales': sales})

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6 non-null      datetime64[ns]
 1   sales   6 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 228.0 bytes

In [18]:
df["quarter"] = df["date"].dt.quarter

In [20]:
sales_sum_quarter = df.groupby("quarter")["sales"].sum()

In [21]:
sales_sum_quarter

quarter
1    3000
2    3400
Name: sales, dtype: int64