# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [33]:
#import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("telecom_customer_churn.csv")

In [ ]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows
print(df.shape)
df.head()

(7043, 21)
Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [15]:
#display all the column names
print(df.columns)

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [16]:
# Check if the dataset contains nulls
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [28]:
#check the datatype of all columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   object
 20  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [39]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)

df["monthly_charges"] = pd.to_numeric(df["monthly_charges"])
df["total_charges"] = pd.to_numeric(df["total_charges"], errors='coerce')
df["tenure"] = pd.to_numeric(df["tenure"], errors='coerce')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7032 non-null   float64
 20  churn              7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [52]:
mc_median = df['monthly_charges'].median()
df['monthly_charges'] = df["monthly_charges"].fillna(mc_median)
to_remove = df[df['total_charges'].isna()]
df = df.dropna()
df.isna().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [53]:
mc = df["monthly_charges"]
print(f"Mean: {mc.mean()}\nMedian: {mc.median()}\nMode: {mc.mode()}")

Mean: 64.79820819112628
Median: 70.35
Mode: 0    20.05
Name: monthly_charges, dtype: float64

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [57]:
tc = df["total_charges"]
print(f"percentile:\n{tc.quantile([0.25, .5, .75])}")

percentile:
0.25     401.4500
0.50    1397.4750
0.75    3794.7375
Name: total_charges, dtype: float64

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [59]:
print(mc.max() - mc.min())
print(mc.max())
print(mc.min())

100.5
118.75
18.25

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [65]:
df_not_chured = df[df["churn"] == "No"]
df_not_chured.shape

mc_not_churnned = df_not_chured["churn"]
mc_not_churned = df_not_chured["monthly_charges"].quantile(0.25)
print(f"first quartile:{mc_not_churned}")

first quartile:25.1

In [60]:
df["churn"].value_counts()

churn
No     5163
Yes    1869
Name: count, dtype: int64

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [67]:
df_churned = df[df["churn"] == "Yes"]
tc_churned = df_churned["total_charges"].quantile(0.75)
print(tc_churned)

2331.3

Q6-  What is the mode of the payment method column for customers who have churned?

In [71]:
print(df_churned["payment_method"].mode())
df_churned["payment_method"].value_counts()

0    Electronic check
Name: payment_method, dtype: object

payment_method
Electronic check             1071
Mailed check                  308
Bank transfer (automatic)     258
Credit card (automatic)       232
Name: count, dtype: int64

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [76]:
# Filter the rows based on the churn status and contract type
df_churned_mtm = df[(df["churn"] == "Yes") & (df["contract"] == "Month-to-month")]


# Calculate the mean of the total charges column
mean_dfcm = df_churned_mtm["total_charges"].mean()

# Print the result
print(round(mean_dfcm,2))

1164.46

In [72]:
df["contract"].value_counts()

contract
Month-to-month    3875
Two year          1685
One year          1472
Name: count, dtype: int64

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [77]:
# Filter the rows based on the churn status and contract type
df_nc_2y = df[(df["churn"] == "No")&(df["contract"] == "Two year")]

# Calculate the median of the tenure column
med_tenure = df_nc_2y["tenure"].median()

# Print the result
print(med_tenure)

64.0