In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv("house_price_increase.csv")

In [17]:
df.head()

  house_id  price_increase_pct
0    NJ001                12.7
1    NJ002                11.3
2    NJ003                11.9
3    NJ004                13.2
4    NJ005                12.8

In [18]:
population_mean = 10
population_std = 4

In [19]:
sample_mean = df["price_increase_pct"].mean()
sample_mean

11.0

In [20]:
df.shape

(100, 2)

In [21]:
SAMPLE_SIZE = 100

In [22]:
standard_error = population_std / np.sqrt(SAMPLE_SIZE)

In [24]:
z_score = (sample_mean - population_mean) / standard_error
z_score

2.5

In [27]:
alpha = 0.05 #signifiance level

In [25]:
from scipy import stats

In [28]:
z_critical = stats.norm.ppf(1 - alpha)
z_critical

1.6448536269514722

In [29]:
print(f"z_score: {z_score}, z_critical: {z_critical}")

z_score: 2.5, z_critical: 1.6448536269514722

Since z_score > z_critical we reject the null hypothesis.