In [2]:
import pandas as pd
f = "Dataset_WorldPortIndex.csv"
df= pd.read_csv(f)
df.head(1)

,Unnamed: 0,World Port Index Number,Region Name,Main Port Name,Country Code,World Water Body,Sailing Direction or Publication,Tidal Range (m),Channel Depth (m),Anchorage Depth (m),...,Cranes - Mobile,Lifts - 0-24 Tons,Services - Longshoremen,Supplies - Provisions,Supplies - Potable Water,Supplies - Fuel Oil,Supplies - Diesel Oil,Repairs,Latitude,Longitude
0,0,7950.0,United States E Coast -- 6585,Maurer,United States,North Atlantic Ocean,U.S. Coast Pilot 2 - Atlantic Coast: Cape Cod ...,1.5,11.0,11.0,...,Unknown,Unknown,Unknown,Yes,Yes,Yes,Yes,Moderate,40.533333,-74.25

In [11]:
#Usuń wszystkie spacje przed i po nazwie.
df["Main Port Name"].str.strip()
#Zamień nazwy portów pisane wielkimi literami na zapis, gdzie tylko pierwsza litera jest wielka (np. "LONDON" → "London").
df["Main Port Name"].str.capitalize()

0                              Maurer
1               Mangkasa oil terminal
2                             Iharana
3                             Andoany
4                         Chake chake
                    ...
3819                          Kuching
3820                            Lumut
3821           Bandar-e pars terminal
3822                        Mina saqr
3823    Jazireh-ye lavan oil terminal
Name: Main Port Name, Length: 3824, dtype: object

In [41]:

#Usuń cyfry, jeśli występują w nazwie portu.
#" ".join([i for i in df["Main Port Name"] if not i.isdigit()])
df["Main Port Name"].str.replace(r'\d+', '', regex=True)

0                              Maurer
1               Mangkasa Oil Terminal
2                             Iharana
3                             Andoany
4                         Chake Chake
                    ...
3819                          Kuching
3820                            Lumut
3821           Bandar-E Pars Terminal
3822                        Mina Saqr
3823    Jazireh-Ye Lavan Oil Terminal
Name: Main Port Name, Length: 3824, dtype: object

In [18]:
# Znajdź wszystkie nazwy portów, które:
# Zawierają literę "A".
# Kończą się literą "n".
df["Main Port Name"].str.contains("A")
df['Main Port Name'].str.endswith("n")

0       False
1       False
2       False
3       False
4       False
        ...
3819    False
3820    False
3821    False
3822    False
3823    False
Name: Main Port Name, Length: 3824, dtype: bool

In [ ]:
# Stwórz nową kolumnę Port Prefix, która:
# Zawiera pierwsze trzy litery każdej nazwy portu (jeśli nazwa jest krótsza niż 3 litery, zostaw pełną nazwę).
def get_prefix(port_name):
    if len(port_name) <= 3:
        return port_name
    else:
        return port_name[:3]

df["Port Prefix"] = df["Main Port Name"].apply(get_prefix)


#Could also use lambda function:
#df["Main Port Name"].apply(lambda x: x if len(x)<=3 else x[:3])

In [32]:
#Policz liczbę portów, których nazwa zawiera słowo "Port"
a = df[df["Main Port Name"].str.contains("Port")]
len(a) #228

228

In [37]:
#Dodaj nową kolumnę Name Length, która zawiera długość każdej nazwy portu.
def get_length(port_name):
    return len(port_name)

df["Name Length"] = df["Main Port Name"].apply(get_length)
df.head(1)

#by using lambda
#df["Main Port Name"].apply(lambda x: len(x))

,Unnamed: 0,World Port Index Number,Region Name,Main Port Name,Country Code,World Water Body,Sailing Direction or Publication,Tidal Range (m),Channel Depth (m),Anchorage Depth (m),...,Services - Longshoremen,Supplies - Provisions,Supplies - Potable Water,Supplies - Fuel Oil,Supplies - Diesel Oil,Repairs,Latitude,Longitude,Port Prefix,Name Length
0,0,7950.0,United States E Coast -- 6585,Maurer,United States,North Atlantic Ocean,U.S. Coast Pilot 2 - Atlantic Coast: Cape Cod ...,1.5,11.0,11.0,...,Unknown,Yes,Yes,Yes,Yes,Moderate,40.533333,-74.25,Mau,6

In [39]:
# W kolumnie Country Code, zamień wszystkie wystąpienia:
# "United States" → "USA".
# "United Kingdom" → "UK".
df["Country Code"].str.replace("United States", "USA")
df["Country Code"].str.replace("United Kingdom", "UK")

0              United States
1                  Indonesia
2                 Madagascar
3                 Madagascar
4                   Tanzania
                ...
3819                Malaysia
3820                  Brunei
3821                    Iran
3822    United Arab Emirates
3823                    Iran
Name: Country Code, Length: 3824, dtype: object

In [42]:
replacements = {"United States": "USA", "United Kingdom": "UK"}
df["Country Code"] = df["Country Code"].replace(replacements)