In [31]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

In [3]:
np.random.seed(42)
data = {
    "Main Port Name": np.random.choice(
        ["Port A", "Port B", "Port C", "Port D", "Port E"], 50
    ),
    "Country Code": np.random.choice(
        ["United States", "United Kingdom", "France", "Germany", "Japan"], 50
    ),
    "Channel Depth (m)": np.random.randint(5, 30, 50),
    "Harbor Size": np.random.choice(["Small", "Medium", "Large"], 50),
}

In [5]:
df = pd.DataFrame(data)
df.head(1)

  Main Port Name Country Code  Channel Depth (m) Harbor Size
0         Port D      Germany                 11       Small

In [6]:
df["Date"] = pd.date_range(start="2020-01-01", periods=len(df), freq="D")

In [13]:
df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day
df["Day of Week"] = df["Date"].dt.strftime("%A")

In [34]:
# Wybierz wszystkie wiersze, gdzie data jest pomiędzy 2020-01-01 a 2020-06-30.
start_date = datetime(2020, 1, 1)
end_date = datetime(2020, 6,30)
df[(df["Date"]>= start_date) & (df["Date"] <= end_date)].head(1)

,Main Port Name,Country Code,Channel Depth (m),Harbor Size,Date,Year,Month
0,Port D,Germany,11,Small,2020-01-01,2020,1

In [35]:
#Wyfiltruj wiersze, gdzie miesiąc to lipiec (Month == 7).
df[df["Month"] == 7]

Empty DataFrame
Columns: [Main Port Name, Country Code, Channel Depth (m), Harbor Size, Date, Year, Month]
Index: []

In [36]:
# Oblicz średnią głębokość kanału (Channel Depth (m)) dla każdego miesiąca.
df.groupby("Month")["Channel Depth (m)"].mean()

Month
1    14.258065
2    16.157895
Name: Channel Depth (m), dtype: float64

In [37]:
#Policz liczbę portów w każdym kwartale roku.
df["Quarter"] = df["Date"].dt.quarter
df.groupby("Quarter")["Main Port Name"].count()

Quarter
1    50
Name: Main Port Name, dtype: int64

In [40]:
#Stwórz kolumnę Days Since Start, która pokazuje liczbę dni od najwcześniejszej daty w zbiorze.
df["Days Since Start"] = df["Date"] - start_date

In [50]:
#Stwórz kolumnę Is Weekend, która zwraca True, jeśli dzień tygodnia to sobota lub niedziela.
df["Is Weekend"] = df["Date"].apply(lambda x: True if x.weekday()> 4 else False)

In [51]:

df.head()

,Main Port Name,Country Code,Channel Depth (m),Harbor Size,Date,Year,Month,Quarter,Days Since Start,Day,Day of Week,Is Weekend
0,Port D,Germany,11,Small,2020-01-01,2020,1,1,0 days,1,Wednesday,False
1,Port E,Germany,13,Medium,2020-01-02,2020,1,1,1 days,2,Thursday,False
2,Port C,Germany,12,Small,2020-01-03,2020,1,1,2 days,3,Friday,False
3,Port E,Japan,16,Small,2020-01-04,2020,1,1,3 days,4,Saturday,True
4,Port E,France,6,Medium,2020-01-05,2020,1,1,4 days,5,Sunday,True