In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_pivot = {
    "Country": ["USA", "USA", "Germany", "Germany", "Japan", "Japan"],
    "Year": [2020, 2021, 2020, 2021, 2020, 2021],
    "Product": ["A", "B", "A", "B", "A", "B"],
    "Sales": [500, 700, 300, 400, 200, 300]
}
df_pivot = pd.DataFrame(data_pivot)
data_stack = {
    "Country": ["USA", "USA", "Germany", "Germany", "Japan", "Japan"],
    "Year": [2020, 2021, 2020, 2021, 2020, 2021],
    "Population": [331, 332, 83, 84, 126, 125],
    "GDP": [21137, 22940, 3845, 4223, 5065, 5315]
}
df_stack = pd.DataFrame(data_stack)

In [5]:
print(df_stack.info())
print(df_stack.memory_usage())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     6 non-null      object
 1   Year        6 non-null      int64
 2   Population  6 non-null      int64
 3   GDP         6 non-null      int64
dtypes: int64(3), object(1)
memory usage: 324.0+ bytes
None
Index         132
Country        48
Year           48
Population     48
GDP            48
dtype: int64

0        USA
1        USA
2    Germany
3    Germany
4      Japan
5      Japan
Name: Country, dtype: category
Categories (3, object): ['Germany', 'Japan', 'USA']

In [10]:
df_stack["Country"] = df_stack["Country"].astype("category")

df_stack[["Year", "Population", "GDP"]] = df_stack[["Year", "Population", "GDP"]].astype("float32")
df_stack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     6 non-null      category
 1   Year        6 non-null      float32
 2   Population  6 non-null      float32
 3   GDP         6 non-null      float32
dtypes: category(1), float32(3)
memory usage: 342.0 bytes

In [11]:
def get_class(gdp):
    if gdp > 10000:
        return "High"
    elif gdp > 5000 and gdp< 10000:
        return "Medium"
    else:
        return "Low"
df_stack["Class"] = df_stack["GDP"].apply(get_class)
df_stack

   Country    Year  Population      GDP   Class
0      USA  2020.0       331.0  21137.0    High
1      USA  2021.0       332.0  22940.0    High
2  Germany  2020.0        83.0   3845.0     Low
3  Germany  2021.0        84.0   4223.0     Low
4    Japan  2020.0       126.0   5065.0  Medium
5    Japan  2021.0       125.0   5315.0  Medium

In [ ]:
df_stack["Class"] = np.where(df_stack["GDP"] > 10000, "High",
                    np.where(df_stack["GDP"] > 5000, "Medium", "Low"))

In [ ]:
chunk_size = 2
total_sales = 0

# Iterowanie przez kawałki
for chunk in pd.read_csv("Dataset_Pivot_Tables.csv", chunksize=chunk_size):
    # Suma sprzedaży w kawałku
    chunk_sales = chunk["Sales"].sum()
    total_sales += chunk_sales
    print(f"Sales in this chunk: {chunk_sales}")

print(f"Total Sales: {total_sales}")

In [ ]:
import time

# Użycie pętli for
start = time.time()
population_millions_loop = []
for value in df_stack["Population"]:
    population_millions_loop.append(value / 1_000_000)
df_stack["Population Millions (Loop)"] = population_millions_loop
end = time.time()
print(f"Time with loop: {end - start:.5f} seconds")

# Użycie operacji wektorowej
start = time.time()
df_stack["Population Millions (Vectorized)"] = df_stack["Population"] / 1_000_000
end = time.time()
print(f"Time with vectorized operation: {end - start:.5f} seconds")

# Wyświetlenie wyników
df_stack.head()